---
  certs:
    generate: true
    deploy: true
    group: foreman
  katello: true
  foreman:
    organizations_enabled: true
    locations_enabled: true
    initial_organization: "{{ satellite_deployment_organization }}"
    initial_location: "{{ satellite_deployment_location }}"
    custom_repo: true
    configure_epel_repo: false
    configure_scl_repo: false
    ssl: true
    server_ssl_cert: /etc/pki/katello/certs/katello-apache.crt
    server_ssl_key: /etc/pki/katello/private/katello-apache.key
    server_ssl_ca: /etc/pki/katello/certs/katello-default-ca.crt
    server_ssl_chain: /etc/pki/katello/certs/katello-default-ca.crt
    websockets_encrypt: true
    websockets_ssl_key: /etc/pki/katello/private/katello-apache.key
    websockets_ssl_cert: /etc/pki/katello/certs/katello-apache.crt
    unattended: true
    admin_username: "{{ satellite_deployment_admin_username }}"
    admin_password: "{{ satellite_deployment_admin_password }}"
  capsule:
    register_in_foreman: true
    pulp_master: true
    puppet: true
    puppetca: true
    templates: false
    tftp: true
    tftp_servername: "{{ satellite_deployment_ip_address }}"
    bmc: false
    bmc_default_provider: ipmitool
    dhcp: true
    dhcp_option_domain:
      - "{{ satellite_deployment_dns_zone }}"
    dhcp_interface: "{{ satellite_deployment_dhcp_interface }}"
    dhcp_gateway: "{{ satellite_deployment_gw_address }}"
    dhcp_range: "{{ satellite_deployment_dhcp_start }} {{ satellite_deployment_dhcp_end }}"
    dhcp_nameservers: "{{ satellite_deployment_ip_address }}"
    dns: true
    dns_zone: "{{ satellite_deployment_dns_zone }}"
    dns_reverse: "{{ satellite_deployment_dns_reverse_zone }}"
    dns_inteface: "{{ satellite_deployment_dns_interface }}"
    dns_forwarders:
      - "{{ satellite_deployment_dns_forwarder }}"
  "foreman::plugin::bootdisk": true
  "foreman::plugin::discovery": true
  "foreman::plugin::hooks": true
  "foreman::plugin::tasks": true
  "foreman::plugin::chef": false
  "foreman::plugin::default_hostgroup": false
  "foreman::plugin::puppetdb": false
  "foreman::plugin::setup": false
  "foreman::plugin::templates": false
  "katello::plugin::gutterball": true
